<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.swagger.mapper.Mapper">
    <insert id="insertUser" parameterType="com.example.swagger.dto.User">
        INSERT INTO market.user (name, id, password, birthday, email)
        VALUES (#{name}, #{id}, #{password} , #{birthday}, #{email})
    </insert>
</mapper>
